@model HRE.Core.Entities.ManagerEmp

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ManagerEmp</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BOD.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BOD.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Code)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
