@model IEnumerable<HRE.Core.Entities.ManagerEmp>

@{
    ViewData["Title"] = "Index";
}
<div class="card-toolbar">
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</div>
<div class="card">
    <div class="card-header">
        @*<div class="card-title">
                <h3>Role List</h3>
            </div>*@

        <div class="card-body">
            <div class="table-responsive">
                <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
                    <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                        <th>
                            @Html.DisplayNameFor(model => model.BOD.Code)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Employee.Code)
                        </th>
                        <th>Option</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.BOD.Code)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Employee.Code)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>

</div>



@*<p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BOD.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee.Code)
            </th>
            <th>Option</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BOD.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.Code)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>*@
