@model HRE.Core.Entities.Sumary

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Sumary</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BOD.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BOD.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question.QuestionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question.QuestionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnswerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnswerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Score)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
