@model LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/NewLayout.cshtml";
}

<h2>Login</h2>

<div class="row justify-content-md-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                @using (Html.BeginForm("Login", "Account", new { area = "" }, FormMethod.Post, null, new { role = "form" }))
                {
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName)
                        @Html.TextBoxFor(m => m.UserName, "", new { @class = "form-control", @placeholder = "Username", autofocus = "" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" class="btn btn-primary" value="Login" />
                    </div>
                }
            </div>
            <div>@Html.ActionLink("Reset Password", "ResetPassword", "Account")</div>
        </div>
    </div>
</div>
